body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding: 120px 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    background-color: #fff;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-item {
    color: #2e2f42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.link-psevdo {
    position: relative;
    background: #404bbf;
}

.link-psevdo::after {
    content: '';
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.header-contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}


/* #region hero image */


.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/bg-img/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 1440px;
    height: 600px;
    margin: auto;

}

.hero-title {
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-btn {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background: #4d5ae5;
    border-radius: 4px;
    margin: 0 auto;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    color: #fff;
    background-color: #404bbf;
}

/* #endregion hero image */

/* #region section 1 */
.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion section 1 */

/* #region section 2 */


.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
}

.team-card-content {
    background-color: #fff;
    padding: 32px 0;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/* #endregion section 2 */

/* #region section 3 */

.portfolio {
    padding: 120px 0;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.port-card-content {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion section 3 */

.footer-container {
    flex-direction: column;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-part {

    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}